<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransferNu65.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TransferNu65.Properties.Settings>
            <setting name="SqlServerNu65" serializeAs="String">
                <value>PR-2\PR2SQL2017</value>
            </setting>
            <setting name="SqlDbNu65Db" serializeAs="String">
                <value>Nu65DB</value>
            </setting>
            <setting name="TimeoutSqlServerConnectInSecond" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FoxproDbFolder_Fox60_Arm_Base" serializeAs="String">
                <value>d:\VirtualMashinFiles\nu65\DBF\V\FOX60\arm\base\</value>
            </setting>
            <setting name="FoxproDbFolder_nu65" serializeAs="String">
                <value>d:\VirtualMashinFiles\nu65\DBF\</value>
            </setting>
        </TransferNu65.Properties.Settings>
    </userSettings>
</configuration>